* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;

}

/*Header*/
.user-idea-form {
  align-items: center;
  background-color: #E5F3F2;
  display: flex;
  flex-direction: column;
  height: 19.5rem;
  margin: auto;
  width: 100%;
}

h1, h2 {
  color: #6D6E71;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

h1 {
  font-size: 2.15rem;
  margin: 0.5em 0em 0.4em;
  text-align: center;
  width: 75%;
}

h2 {
  font-size: 1.5em;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 15rem;
  justify-content: space-around;
  width: 100%;
}


/*Inputs*/

.form-inputs {
  border: 0.1rem solid #D6D7D9;
}

.title-input {
  height: 2.5rem;
  margin-bottom: 0.5rem;
  padding-top: 0.35rem;
  width: 88%;
}

.body-input {
  height: 7rem;
  margin-bottom: 0.75rem;
  width: 88%;
}

textarea {
   resize: none;
}

::placeholder {
  color: #D6D7D9;
  font-size: 1.25rem;
  padding-left: 0.35rem;
}

.save-idea-btn {
  background-color: #00A79D;
  color: #FFF;
  font-size: 1rem;
  height: 2.75rem;
  letter-spacing: 0.05rem;
  margin-bottom: 0.75rem;
  width: 88%;
}

.save-idea-btn:hover {
  background-color: #045E55;
}

.list-title {
  display: flex;
  height: 1.5em;
  justify-content: space-between;
}

.list-section {
  height: 15em;
  margin: 1rem auto 0;
  width: 88%;
}

.idea-list {
  list-style-type: none;
}


.logo-color {
  color: #00A79D;
}



/*Posted Ideas*/

 article {
  width: 100%;
}

.search-list {
  border: 0.1rem solid #D6D7D9;
  height: 2.25rem;
  margin-bottom: 3rem;
  padding-top: 0.35rem;
  width: 100%;
}

.idea-body {
  color: #939598;
  line-height: 1.25rem;
  margin: 1rem 0;
}

.quality-value {
  color: #6D6E71;
  margin-left: 0.25rem;
}

.vote-delete-btns {
  background-repeat: no-repeat;
  background-size: cover;
  border: transparent;
  width: 1.5rem;
}

.voting-content {
  display: flex;
  height: 1.5em;
}

.delete-button {
  background-image: url("Icons/delete.svg");
}

.upvote-button {
  background-image: url("Icons/upvote.svg");
  margin-right: 1rem;
}

.downvote-button {
  background-image: url("Icons/downvote.svg");
  margin-right: 1rem;
}

.section-break {
  color: #D1D3D4;
  margin: 1.5rem auto;
}




/*Media Queries*/

@media screen and (min-width: 430px) {

h1 {
   font-size: 3rem;
}

form {
   width: 55%;
}

.user-idea-form {
  height: 40vh;
}

.form-inputs,
.save-idea-btn {
  width: 100%;
}

.list-section {
  width: 55%;
}

}



@media screen and (min-width: 760px) {

form {
   width: 55%;
}

.form-inputs {
  font-size: 1rem;
}

.list-section {
  width: 55%;
}

}



@media screen and (min-width: 1000px) {

h1 {
   font-size: 4rem;
}

form {
   width: 55%;
}

.title-input {
  margin-bottom: 0.75rem;
  padding-top: 0.2rem;
}

.body-input {
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.form-inputs {
  font-size: 1.25rem;
  height: 3rem;
}

.save-idea-btn {
  font-size: 1.5rem;
  height: 3.25rem;
  padding-bottom: 0.35rem;
}

.list-section {
  width: 55%;
}
.search-list {
  height: 3rem;
  margin: 0.25rem auto 3rem;
  padding-top: 0.2rem;
}

h2 {
  font-size: 1.75rem;
}

.idea-body {
  font-size: 1.25rem;
  line-height: 2.25rem;
  margin: 1.5rem 0;
}

}